<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Athletico-PR</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h3>Athletico-PR</h3>
<p>Club Athletico Paranaense (conhecido também como Athletico-PR ou Athletico e cujo acrônimo é CAP) é um clube de futebol brasileiro, da cidade de Curitiba.
    Foi fundado em 26 de março de 1924, a partir da fusão do International Foot-Ball Club e do América Futebol Clube.<br>

    Suas cores tradicionais são o preto e o vermelho, que lhe rendem a alcunha de rubro-negro. Manda seus jogos no Estádio Joaquim Américo Guimarães (mais conhecido como Arena da Baixada),
     reinaugurado em duas fases: em 1999, após reformas visando sua modernização e em 2014, após as reformas exigidas pela FIFA para receber os jogos da Copa do Mundo de 2014.<br>
    
    É o único clube do futebol paranaense a conquistar títulos internacionais oficiais, a Copa Sul-Americana de 2018 e a Levain Cup/CONMEBOL de 2019. 
    E também o único time do estado a conquistar a Copa do Brasil. Além disto, foi o primeiro clube do estado a participar de uma competição nacional, 
    a Taça Brasil de 1959, e a ter sido finalista da Copa Libertadores, feito ocorrido na edição de 2005. Dentre seus principais títulos, possui 1 Levain Cup (2019), 
    1 Copa Sul-Americana (2018), 1 Campeonato Brasileiro (2001), 1 Copa do Brasil (2019), 1 Seletiva para a Libertadores (1999) e outros 26 títulos paranaenses, 
    tendo disputado mais de 4.300 jogos em sua história. No que diz respeito ao somatório de títulos oficiais de abrangência nacional e internacional de clubes brasileiros 
    de futebol (sem contar títulos oficiais de abrangência estadual e regional), em setembro de 2019 o clube figurava como o mais vitorioso entre os clubes não-fundadores 
    do Clube dos 13 (cujos membros fundadores são frequentemente considerados os maiores clubes do Brasil), então ocupando a 12ª posição, sendo até hoje o único clube não-fundador 
    a ter ultrapassado membros fundadores do Clube dos 13 em títulos de abrangência nacional e internacional.</p>
    <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>