<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atletico-MG</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
<h3>Atlético-MG</h3>
    <p>O Clube Atlético Mineiro (conhecido apenas por Atlético e cujo acrônimo é CAM) é um clube brasileiro de futebol sediado na cidade de Belo Horizonte, Minas Gerais. 
        Fundado em 25 de março de 1908 por um grupo de estudantes, tem como suas cores tradicionais o preto e o branco. Contudo, o clube teve como primeiro nome Athlético Mineiro Football Club. 
        Seu símbolo e alcunha mais popular é o Galo, mascote oficial no final da década de 1930. O Atlético é um dos maiores e mais populares clubes de futebol do Brasil, 
        possuindo a segunda maior torcida de Minas Gerais, e uma das maiores torcidas do país fora do eixo Rio-São Paulo. <br>

        Embora tenha atuado em outras modalidades esportivas ao longo dos anos, seu reconhecimento e suas principais conquistas foram alcançados no futebol. 
        O clube é o maior campeão do Campeonato Mineiro com 45 troféus, além de ser o maior vencedor do Clássico Mineiro, com uma grande vantagem contra seu rival, o Cruzeiro. A nível nacional, 
        foi campeão brasileiro uma vez, em 1971, e conquistou outros três títulos nacionais oficiais: a Copa dos Campeões (FBF) em 1937, a Copa dos Campeões (CBD) em 1978 e a Copa do Brasil, 
        em 2014. Na esfera internacional, possui quatro títulos oficiais: uma Copa Libertadores da América,  duas Copas Conmebol  e uma Recopa Sul-Americana. Um outro grande feito do Atlético 
        é o de ser, junto ao Dublin-URU, Santa Cruz, Arsenal-ING, e do Flamengo, um dos 5 únicos clubes do mundo que já venceram a Seleção Brasileira de Futebol</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>