<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atletico-GO</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Atlético-GO</h3>
    <p>Atlético Clube Goianiense é uma agremiação esportiva brasileira da cidade de Goiânia, no estado de Goiás, fundada em 2 de abril de 1937.<br>

        O Dragão, alcunha do clube, manda os seus jogos habitualmente no Estádio Antônio Accioly, com capacidade ampliada em 2020 para 12 500 pessoas, 
        embora historicamente tenha atuado também no Estádio Olímpico Pedro Ludovico Teixeira, com capacidade para 13.500 pessoas, e as suas partidas com maior 
        demanda de público tenham ocorrido no Estádio Serra Dourada, o maior da capital goiana.<br>
        
        O Atlético historicamente representa o bairro de Campinas, caracterizado como importante pólo comercial de sua cidade.
        Entre os seus principais títulos ostenta quatro conquistas nacionais, dois Campeonato Brasileiro de Futebol - Série C, em 1990 e 2008, um 
        Campeonato Brasileiro de Futebol - Série B, em 2016, e o Torneio de Integração Nacional em 1970, além de quatorze títulos do Campeonato Goiano e dois da Copa Goiás. 
        Talvez nunca tenha tido tanto destaque como agora no Século XXI, quando conquistou dois títulos nacionais e cinco de campeão goiano, sendo frequentador habitual das 
        duas principais divisões do Campeonato Brasileiro desde 2009.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>