<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Botafogo</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Botafogo</h3>
    <p>Botafogo de Futebol e Regatas é uma agremiação poliesportiva brasileira, com sede no bairro homônimo ao clube, na cidade do Rio de Janeiro. Nascido da fusão do Club de Regatas Botafogo 
        (fundado para o remo em 1894) com o Botafogo Football Club (formado para o futebol em 1904), é um dos principais clubes do Brasil. Suas maiores glórias esportivas vêm principalmente 
        do futebol, especialmente entre as décadas de 1950 e 1960, considerada sua era de ouro. <br>

        Conhecido pela estrela de cinco pontas em seu distintivo, que lhe dá a alcunha de clube da Estrela Solitária, o Botafogo tem como suas cores oficiais o preto e o branco. 
        Desde 2007, manda seus jogos de futebol no Estádio Nilton Santos, antes chamado de Engenhão. Um dos clubes mais populares do Brasil, tem como seus principais rivais o Flamengo, 
        o Fluminense e o Vasco da Gama. <br>
        
        Foi indicado pela FIFA ao seleto grupo dos maiores clubes do século XX. Dentre seus principais títulos estão: 21 Campeonatos Cariocas, 4 Torneios Rio-São Paulo, 2 Campeonatos Brasileiros
         e 1 Copa Conmebol (precursora da atual Copa Sul-Americana). <br>
        
        Além disso, o clube detém alguns dos principais recordes do futebol brasileiro, como o de maior número de partidas de invencibilidade: 52 jogos entre os anos de 1977 e 1978; 
        o recorde de partidas invictas em jogos do Campeonato Brasileiro: 42, também entre 1977 e 1978; o maior número de participações de jogadores em partidas totais da Seleção Brasileira 
        (considerando jogos oficiais e não oficiais): 1103 participações; e o maior número de jogadores cedidos à Seleção Brasileira para Copas do Mundo. O clube ainda é o responsável pela maior 
        vitória já registrada no futebol brasileiro: 24–0 sobre o Sport Club Mangueira no Campeonato Carioca de 1909. </p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>