<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bragantino-SP</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Bragantino</h3>
    <p>Red Bull Bragantino, também conhecido como RB Bragantino, Red Bull ou simplesmente Bragantino, é um clube esportivo brasileiro da cidade de Bragança Paulista, 
        interior do estado de São Paulo. É controlado pela multinacional de bebidas energéticas Red Bull.<br>

        O clube foi fundado originalmente como Clube Atlético Bragantino em 8 de janeiro de 1928, e suas cores de origem eram preto e branco, entretanto, em 2019 a partir 
        da fusão com o Red Bull Brasil passou a aderir o vermelho junto ao seu tradicional alvinegro.<br>
        
        O time teve seu ápice no começo dos anos 1990, quando foi Campeão Paulista de 1990 e chegou à final do Campeonato Brasileiro de 1991, sendo um clube profissional 
        oriundo de uma cidade com apenas 150 mil habitantes. Em 2019 se associou a multinacional Red Bull, com mudança do nome do clube para Red Bull Bragantino em 2020.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>