<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ceara-SC</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h3>Ceara-SC</h3>
    <p>Ceará Sporting Club é um clube poliesportivo brasileiro. Sua sede situa-se em Fortaleza, na Região Nordeste do Brasil. O clube foi fundado na noite do dia 2 de junho de 1914, 
        pelas ruas do histórico bairro do Centro da Capital.<br>

        Seu mascote é o vovô, não por ser o time mais velho da capital cearense, mas por Meton de Alencar Pinto, então presidente do clube, por ao receber os atletas juvenis do 
        América Futebol Club, os tratou como seus "netinhos".<br>
        
        Seu estádio oficial é o Carlos de Alencar Pinto, apelidado pela torcida como Vovozão. O alvinegro, porém, manda os seus jogos na Arena Castelão, do Governo do Estado do Ceará, 
        e no Estádio Presidente Vargas, da Prefeitura de Fortaleza.<br>
        
        Também é de posse do clube um dos mais modernos centros de treinamento do Nordeste, a Cidade Vozão, que ocupa uma área de oito hectares, abrigando nele um estádio com capacidade 
        para 4.000 pessoas; três campos oficiais de treinamento, bem como uma quadra society. O CT possui um prédio com 1.600 m² de construção.<br>
        
        Tem como principais títulos os campeonatos do Torneio Norte–Nordeste de 1969, o bicampeonato da Copa do Nordeste, ambos conquistados de forma invicta em 2015 e 2020, 
        além de 45 títulos estaduais, recorde no estado do Ceará.<br>
        
        É dono das melhores campanhas de um clube cearense na Copa do Brasil (vice-campeão na edição de 1994, em que ficou marcada pela polêmica de um pênalti não marcado a favor do 
        Alvinegro na final, além das semifinais de 2005 e 2011).<br>
        
        O clube é o dono da maior torcida do estado, sendo a terceira maior do Nordeste, segundo a Pluri, o IBOPE, o Datafolha, a Ipsos Marplan, o Lance! e Ibope. É o clube alencarino 
        com mais públicos acima de 50.000 pagantes na história do Estado (13 vezes). O Alvinegro também possui médias de público espetaculares em edições da Série A: 28.613 pagantes 
        em 2018, 23.467 pagantes em 2010, e 21.622 pagantes em 1982. Além disso, é o clube cearense com a melhor média de público da Copa do Brasil (35.407 pagantes em 2005), além de possuir 
        a 4ª melhor média de público da história da competição (20.355 pagantes entre 1989 e 2017). Também possui números expressivos em outras competições, como as Copas do Nordeste de 2013
         (23.541 pagantes), 2014 (20.283 pagantes) e 2015 (24.282 pagantes); as Série B de 2009 (22.660 pagantes) e 2017 (20.555 pagantes); e o Cearense de 2006 (20.229 pagantes). 
         O clube alvinegro também é o dono do maior público entre clubes cearenses em edições da Série A do Campeonato Brasileiro, com um público de 57.223 pagantes em partida contra o 
         Vasco da Gama em 2018.<br>
        
        É o único time do estado e um dos poucos do Brasil a nunca ter participado da Série C do Campeonato Brasileiro, embora seja o clube brasileiro com maior número de participações na 
        Série B, onde obteve três acessos (1992, 2009 e 2017). Além disso, o Ceará é o único clube do Nordeste a nunca ter ficado sem Série desde 1971 ou disputado a Série C 
         (o Sport, o outro nordestino a nunca ter jogado a Série C, ficou sem divisão em 1972).<br>
        
        É, também, o clube cearense que mais participou do Campeonato Brasileiro da Série A e da Copa do Brasil, além de ser o maior campeão do estado em títulos de Campeonato Cearense, 
        com 45 conquistas, sendo 1 vez pentacampeão (1915-1919), 3 vezes tetracampeão (1975-1978, 1996-1999 e 2011-2014) e 1 tricampeonato (1961-1963) e ser o único time do estado a ter 
        participado de uma competição internacional oficial por duas vezes, a Copa Conmebol de 1995 e a Copa Sul-Americana de 2011.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>