<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Coritiba</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Coritiba</h3>
    <p>Coritiba Foot Ball Club, mais conhecido como Coritiba, é um clube desportivo brasileiro da cidade de Curitiba. Fundado em 12 de outubro de 1909 por descendentes de alemães, 
        é um dos clubes mais populares do Paraná e tradicionais do Sul do Brasil, sendo o mais antigo do estado, e entre os clubes campeões brasileiros, o terceiro mais antigo da região.<br>

        Popularmente chamado de Coxa, tem como suas cores o verde e o branco, e como estádio o Couto Pereira, inaugurado em 1932 e com capacidade atual para receber mais de 40.000 pessoas. 
        Seu grande rival local é o Athletico Paranaense, com quem faz o clássico Atletiba, uma das grandes rivalidades do futebol brasileiro, disputando também o clássico Paratiba, que é 
        realizado contra o Paraná Clube.<br>
        
        Foi o primeiro clube do futebol paranaense a conquistar o Campeonato Brasileiro, em 1985, quebrando a hegemonia de equipes de São Paulo, Rio de Janeiro, Rio Grande do Sul e Minas Gerais 
        que perdurava desde 1960. Além desse título, o Coxa soma 38 campeonatos paranaenses, sendo o atual recordista de taças na história da principal competição estadual e o detentor de um 
        hexacampeonato no estado, sequência de 1971 até 1976, vice-campeão em 1977, seria campeão de novo em 1978 e 1979, conquistando também nesse período de nove anos o Torneio do Povo de 1973, 
        um total de nove títulos. Possui também 2 vice-campeonatos na Copa do Brasil, em 2011 e 2012, além de 2 Campeonatos Brasileiros da série B, conquistados em 2007 e 2010.<br>
        
        O alviverde curitibano foi também a primeira equipe paranaense a participar da Copa Libertadores da América, pioneirismo ocorrido no ano de 1986. O clube ainda detém a terceira maior 
        a marca mundial de vitórias consecutivas em competições oficiais, e a maior sequência dentre os times brasileiros, tendo disputado mais de 4.600 jogos em sua História.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>