<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Corinthians</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Corinthians</h3>
    <p>O Sport Club Corinthians Paulista (mais conhecido como Corinthians, e pelos apelidos de "Timão" e "Coringão") é um clube multiesportivo brasileiro da cidade de São Paulo, 
        capital do estado homônimo. Foi fundado como uma equipe de futebol no dia 1 de setembro de 1910 por um grupo de operários do bairro Bom Retiro. Seu nome foi inspirado no Corinthian 
        FC de Londres, que excursionava pelo Brasil, sendo chamado pela imprensa brasileira da época de Corinthian's team.<br>

        Embora tenha atuado em outras modalidades esportivas ao longo dos anos, seu reconhecimento e suas principais conquistas foram alcançados no futebol. O clube é um dos mais bem sucedidos 
        do Brasil e das Américas nos últimos anos. Sendo o segundo maior campeão nacional, com onze conquistas, ficando atrás somente do Palmeiras. Tendo conquistado dois Mundiais de 
        Clubes da FIFA (recordista na América do Sul, sendo superado mundialmente, somente pelo Barcelona e Real Madrid), uma Copa Libertadores da América invicta, uma Recopa Sul-Americana, 
        sete Campeonatos Brasileiros, três Copas do Brasil, uma Supercopa do Brasil (recordista, ao lado de Flamengo e Grêmio), cinco Torneios Rio-São Paulo (recordista, ao lado de Palmeiras e 
        Santos), duas Taça dos Campeões Estaduais Rio–São Paulo, 30 Campeonatos Paulistas (atual recordista) e uma Copa Bandeirantes (único vencedor).<br>
        
        Suas cores tradicionais são o branco e o preto. Desde 2014, manda suas partidas de futebol na Neo Química Arena. Seus rivais históricos são o Palmeiras, com quem disputa o Derby Paulista,
         o São Paulo, com quem disputa o Majestoso, e o Santos, com quem disputa o Clássico Alvinegro. Sua torcida é conhecida como "Fiel" e seus torcedores são estimados em aproximadamente 
         27 milhões espalhados por todo o Brasil e pelo mundo, atrás nacionalmente somente do carioca Flamengo, além de ser o primeiro na Região Sudeste. É considerada também uma das maiores 
         torcidas do mundo. Além disso, o Corinthians é o clube brasileiro com o maior número de sócio-torcedores, possuindo por volta de 130 mil registrados.<br>
        
        De modalidades esportivas importantes ao longo da história corintiana, destacam-se o basquete, onde o clube desfrutou de relativo sucesso, especialmente durante as décadas de 1950 e 1960, 
        com a conquista de títulos paulistas, brasileiros e até sul-americanos, além de um vice-campeonato mundial em 1966, a natação que rendeu quatro conquistas do Troféu Brasil de Natação, 
        atual Troféu Maria Lenk, e o futsal, a partir da década de 1970, que rendeu conquistas em torneios estaduais e nacionais. A influência do remo na história do clube modificou o escudo 
        original, que aludia meramente ao futebol, com o acréscimo do par de remos e da âncora como aparecem até os dias de hoje.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>