<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flamengo</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Flamengo</h3>
    <p>O Clube de Regatas do Flamengo (mais conhecido simplesmente como Flamengo, e popularmente pelos apelidos de Mengo, Mengão e Fla) é uma agremiação 
        poliesportiva brasileira com sede na cidade do Rio de Janeiro. Fundado no bairro de mesmo nome para disputas de remo em 17 de novembro de 1895, tornou-se um dos clubes mais 
        bem-sucedidos e populares do esporte brasileiro, especialmente pelo futebol. Tem como suas cores tradicionais o vermelho e o preto e como seus maiores rivais esportivos o Vasco da Gama,
        o Fluminense e o Botafogo.<br>

        Dentre suas maiores glórias no futebol, destacam-se as conquistas da Copa Intercontinental  (único time carioca a ter conquistado um título de dimensão mundial reconhecido pela FIFA)
         e das Copas Libertadores da América de 1981 e de 2019 (único time carioca a ter conquistado por duas vezes a competição, e um dos seis do Brasil a tê-la conquistado mais de uma vez), 
         além de uma Recopa Sul-Americana, uma Copa Mercosul e uma Copa de Ouro Nicolás Leoz, o que lhe confere a quinta posição no ranking de títulos internacionais de clubes brasileiros. 
         Em se tratando de Copa Libertadores da América o Flamengo, juntamente ao Independiente, os dois únicos clubes com 100% de aproveitamento na final da competição, entre os clubes que 
         chegaram em mais de uma final do torneio, o quinto com maior aproveitamento na competição, além de ser o clube com o melhor desempenho considerando apenas duelos entre equipes brasileiras 
         até 2019.<br>
        
        Em relação às conquistas a nível nacional o Flamengo é, por decisão judicial, e em seguida, pela CBF, oficialmente detentor de seis títulos do Campeonato Brasileiro 
        (1980, 1982, 1983, 1992, 2009 e 2019) — além da controversa Copa União de 1987 —, três títulos da Copa do Brasil, uma Supercopa do Brasil e uma Copa dos Campeões. Estas doze conquistas 
        dão ao clube o segundo lugar no ranking de títulos nacionais. Com relação a nível regional e estadual, o clube conquistou um Torneio Rio-São Paulo, uma Taça dos Campeões Estaduais 
        Rio – São Paulo e trinta e seis títulos do Campeonato Carioca, sendo o maior vencedor da competição estadual. Por conta destes resultados, o clube é, desde 2017, o líder nacional do 
        Ranking Folha, que dá uma pontuação para títulos e vice-campeonatos conquistados pelas equipes, sendo, atualmente, o clube brasileiro com mais conquistas (empatado com o São Paulo) 
        no que diz respeito ao somatório de títulos reconhecidos de abrangência nacionais e internacionais (18, no total, sem contar títulos regionais), o quinto clube brasileiro (empatado com o 
        Grêmio) no que diz respeito ao somatório de títulos reconhecidos de abrangência internacional, o segundo em abrangência nacional, e em termos estaduais, é o clube do Estado do Rio de 
        Janeiro com o maior número de títulos oficiais no futebol, considerando títulos de todas as abrangências (internacional, nacional e regional/estadual). Entre outros feitos, o Flamengo foi 
        eleito o nono maior clube de futebol do Século XX, em levantamento realizado pela FIFA, é um dos três clubes do país, ao lado de Santos e São Paulo, que jamais foram rebaixados para a 
        segunda divisão do campeonato nacional. É, ao lado do Santos, os dois únicos clubes a terem conquistado a Copa Libertadores e o Campeonato Brasileiro numa mesma temporada 
        (feito este alcançado em 2019). É também, ao lado do Atlético Mineiro, Santa Cruz, Arsenal (Inglaterra), e Dublin (Uruguai), um dos cinco únicos clubes do mundo que já venceram a 
        Seleção Brasileira de Futebol. Detém, junto ao Botafogo, a maior sequência invicta do futebol brasileiro com 52 partidas em 1979 e foi o primeiro clube do Brasil a atingir a marca de 
        mil jogos na primeira divisão do campeonato nacional, em partida realizada contra o Santos em 27 de julho de 2009.<br>
        
        O Flamengo é o clube de futebol mais popular do Brasil, com uma torcida estimada em 40,4 milhões de torcedores espalhados por todas as regiões do Brasil. 
        Segundo levantamento conduzido pela agência de marketing desportivo Gerardo Molina-Euroamerica, o Flamengo é, em números absolutos, o clube de futebol com o maior número de seguidores 
        em todo o mundo. Em razão da força de sua torcida, é o clube brasileiro que mais recebe valores de direitos de transmissão. Desde 2018, o Flamengo é considerado o clube mais 
        valioso do Brasil, tornando-se em 2019, o time mais valioso da América do Sul, além de ser o 70º time de futebol mais valioso do mundo, avaliado em mais de 145,7 milhões de euros.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>