<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fluminense</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Fluminense</h3>
    <p>Fluminense Football Club é uma agremiação poliesportiva e cultural sediada no bairro de Laranjeiras, Zona Sul da cidade do Rio de Janeiro, no Brasil, fundada em 21 de 
        julho de 1902. É uma sociedade civil de caráter desportivo, que tem como principal atividade o futebol.<br>

        Um dos quatro grandes clubes do Rio de Janeiro, primeiro entre os doze maiores do Brasil a entrar em campo e a ostentar a palavra futebol no nome, o Fluminense é o clube 
        que mais disputou campeonatos estaduais no Brasil, tendo sido a sua primeira participação em 1906, e a de 2020 a sua 116ª. Tendo campo de jogo desde 1904 e construído no 
        mesmo lugar o primeiro estádio, estrutura de cimento, da América Latina, ainda em 1919, abrigou os grandes jogos do futebol carioca e da Seleção Brasileira em seus 
        primórdios, tendo sido apontado em 1949 pelo presidente da FIFA, Jules Rimet, como a organização esportiva mais perfeita do mundo, com a FIFA reconhecendo o seu gigantismo 
        e pioneirismo, essa última uma característica marcante do clube, ao parabenizar o Fluminense por ocasião de seu aniversário de 112 anos,  sendo o sétimo clube brasileiro 
        em faturamento e décimo segundo do continente americano no ano de 2018. O clube deu muitas demonstrações de civismo em sua História, salientando-se que durante a Primeira 
        Guerra Mundial o Fluminense criou uma batalhão que recrutou 83 reservistas apenas no primeiro momento, movimento de civismo que acabou seguido por outras entidades esportivas 
        posteriormente; já em outubro de 1937 o Fluminense formou uma Escola de Instrução Militar que durante os anos de 1940 e 1941 conquistou o primeiro lugar em eficiência e 
        disciplina de todo o então Distrito Federal, tendo preparado um curso de enfermagem em 1942 para auxiliar os pracinhas da Força Expedicionária Brasileira que mais tarde 
        desempenhariam um importante papel na Itália, formando 85 enfermeiras nesse período, além de doar um avião para a Força Aérea Brasileira, batizado de Coelho Netto. 
        Em 1922, o Fluminense, promoveu e financiou o Campeonato Sul-Americano de Seleções e os Jogos Olímpicos Latino-Americanos, os grandes eventos comemorativos do Centenário 
        da Independência do Brasil, entre aqueles esforços patrióticos que chamam mais a atenção.<br>
        
        Com os grandes títulos conquistados e a História construída desde a sua fundação, consolidou-se entre os 12 maiores clubes de futebol de um país com dimensão continental, 
        onde 512 clubes já disputaram alguma divisão do Campeonato Brasileiro, 157 já tendo disputado a primeira divisão, com 17 deles tendo sido campeões, apenas 8 com pelo 
        menos quatro títulos, sendo 7 os campeões na Era dos Pontos Corridos, entre eles, o Fluminense, clube do Estado do Rio de Janeiro com mais presenças no G-4 do Campeonato 
        Brasileiro, assim como também no do Campeonato Carioca. Por ter sido o clube que mais conquistou títulos estaduais no Rio de Janeiro no século XX, com os estaduais sendo as 
        competições mais valorizadas pelos grandes clubes brasileiros até meados da década de 1980, e com importância maior do que atualmente até o fim da década de 1990, o 
        Fluminense ostenta o título honorífico de campeão carioca do Século XX. Em 2005 o Tricolor se tornou o primeiro clube do eixo Rio-São Paulo a conquistar 30 títulos estaduais, 
        sem levar em consideração o título carioca extra de 1941.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>