<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fortaleza</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Fortaleza</h3>
    <p>Fortaleza Esporte Clube é um clube poliesportivo que está sediado na cidade de Fortaleza, no Nordeste do Brasil. Foi fundado em 18 de outubro de 1918, por Alcides Santos, 
        um dos maiores esportistas cearenses, que se apaixonou pelo futebol durante o período em que estudou no College Stella, na Suíça.<br>

        No futebol, principal esporte em que atua, tem como principal título o Campeonato Brasileiro da Série B de 2018, quando foi campeão nacional no ano do seu Centenário e 
        com duas rodadas de antecedência. Foi campeão da Copa do Nordeste em 2019 e da Copa Cidade de Natal em 1946 (um dos primeiros títulos de âmbito regional disputados no Nordeste), 
        do antigo Torneio Norte–Nordeste em 1970, é detentor de 43 títulos do Campeonato Cearense de Futebol (sendo o último em 2020), além de um campeonato estadual extra em 1972, 
        e mais um dos torneios realizados pela extinta Liga Metropolitana Cearense.[carece de fontes] O clube também fez campanhas relevantes a nível nacional, foi duas vezes vice-campeão 
        brasileiro da Série A, nos anos de 1960 e 1968 e duas vezes vice-campeão brasileiro da Série B nos anos de 2002 e 2004, sendo assim o clube cearense com as melhores campanhas 
        na Série A e na Série B do Campeonato Brasileiro. É o único clube cearense a ganhar um torneio internacional, embora tenha sido uma competição amistosa, foi a Paramaribo Cup 
        de 1962 que o clube conquistou de forma invicta. E em jogos oficiais foi o primeiro clube cearense na história a disputar uma partida fora do Brasil, pela Copa Sul-Americana de 2020.<br>
        
        Em ranking da Federação Internacional de História e Estatísticas do Futebol (IFFHS) publicado em 2013, que elege anualmente as melhores equipes da América do Sul, foi o 
        clube cearense melhor colocado, ficando na 172ª posição geral, com 226 pontos. Possui o estádio Alcides Santos (maior estádio particular cearense, 
        também chamado de Parque dos Campeonatos) e o maior Centro de Treinamento do estado, o Centro de Treinamento Ribamar Bezerra com 9,6 hectares.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>