<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Goiás</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Goiás</h3>
    <p>Goiás Esporte Clube é uma agremiação esportiva sediada na cidade de Goiânia, no estado brasileiro de Goiás. Tem como cores o verde e o branco (alviverde) 
        e atualmente manda seus jogos no Estádio Hailé Pinheiro no campeonato estadual e reveza entre Serra Dourada e Olímpico nas competições nacionais.<br>

        Fundado em 6 de abril de 1943, o Goiás disputou o Campeonato Brasileiro pela primeira vez em 1967 (durante a nona edição da então Taça Brasil). 
        É o único clube goiano a ter participado da Copa Libertadores da América e a ter chegado a uma final de Copa Sul-Americana e de Copa do Brasil. Além disso, 
        é o maior campeão do Campeonato Goiano, com 28 títulos, sendo um pentacampeonato entre 1996 a 2000. Desde o ano de 2000 foram 11 conquistas de campeão estadual, 
        3 de campeão regional e 1 de campeão nacional.<br>
        
        O Verdão da Serra, como é chamado por sua torcida, também conquistou o Campeonato Brasileiro da Série B em 1999 e 2012, e 3 edições da Copa Centro-Oeste, 
        em 2000, 2001 e 2002, tendo alcançado a terceira colocação no Campeonato Brasileiro Série A de 2005 na sua campanha mais destacada, além de vencer os 
        torneios amistosos internacionais Manoel dos Reis e Silva, em 1971, quando derrotou na final o Alianza Lima do Peru, e em 2015 a Granada Cup, sendo 
        pelo seu desempenho nos gramados, a agremiação mais vitoriosa da região.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>