<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Grêmio</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Grêmio</h3>
    <p>Grêmio Foot-Ball Porto Alegrense (conhecido apenas por Grêmio e cujo acrônimo é FBPA) é um clube de futebol brasileiro da cidade de Porto Alegre, 
        no Rio Grande do Sul, fundado em 15 de setembro de 1903 por Candido Dias da Silva. Suas cores são azul, preto e branco. O clube tem como alcunhas 
        Imortal Tricolor, Tricolor dos Pampas, Tricolor Gaúcho, Rei de Copas e Clube de Todos.<br>

        Já foi campeão da Copa Libertadores da América em três ocasiões (o que o torna o clube brasileiro com mais conquistas nesta competição, ao lado de São Paulo e Santos) 
        e vice em duas outras oportunidades, sendo o único clube brasileiro a ter decidido a competição em quatro décadas diferentes. É o primeiro clube fora da região Sudeste 
        a conquistar títulos de dimensão continental e mundial, sendo campeão da América e do Mundo em 1983. Também é bicampeão da Recopa Sul-Americana, tendo conquistado este 
        torneio em todas as vezes em que o disputou. Conquistou ainda dois Campeonatos Brasileiros da Série A, um Campeonato Brasileiro da Série B, cinco Copas do Brasil e uma 
        Supercopa do Brasil, além de uma Copa Sul e um Campeonato Sul-Brasileiro. No âmbito estadual, já foi campeão trinta e nove vezes do Campeonato Gaúcho, uma vez da Copa 
        FGF e uma vez da Recopa Gaúcha.<br>
        
        Conforme pesquisa por amostra realizada pelo Datafolha em agosto de 2019, com margem de erro de dois pontos percentuais, 4% da população brasileira torce para o Grêmio, 
        que tem a sétima maior torcida do país, em empate técnico com Palmeiras, Vasco, Cruzeiro, Internacional, Santos e Atlético Mineiro. O clube tem a maior torcida da região Sul, 
        com 23% dos entrevistados respondendo serem gremistas, empatado tecnicamente com o número de torcedores do Internacional pela margem de erro de cinco pontos percentuais na 
        pesquisa regional. Seu quadro social, em junho de 2020, era formado por 85 mil contribuintes adimplentes.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>