<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página Inicial | Série A do Brasileirão</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body class="formatando">
    <h1 class="azul">Impacta Esportes </h1><br>
    <h2>
        Série A
    </h2><br>

    <h2>
        Resultados da rodada
    </h2>
    <table class="tabela" border="1">
        <tr>
            <td>Jogos</td>
        </tr>
        <tr>
            <td>Atlético Paranaense 2 x 1 Fortaleza </td>
        </tr>
        <tr>
            <td>São Paulo 2 x 1 Goiás</td>
        </tr>
        <tr>
            <td>Atlético-GO 1 x 1 Corinthians</td>
        </tr>
        <tr>
            <td>Vasco da Gama 0 x 1 Palmeiras</td>
        </tr>
        <tr>
            <td>Internacional 2 x 2 Coritiba</td>
        </tr>
        <tr>
            <td> Atlético-MG 4 x 0 Flamengo</td>
        </tr>
        <tr>
            <td>Bahia 1 x 0 Botafogo</td>
        </tr>
        <tr>
            <td>Red Bull Bragantino 1 x 1 Santos</td>
        </tr>
        <tr>
            <td>Ceará 0 x 0 Sport Recife</td>
        </tr>
        <tr>
            <td> Fluminense 0 x 1 Grêmio</td>
        </tr>
    </table>
    <br>
    <a href="info">Informações dos times</a><br>
</body>
    
</html>