<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista dos Times</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    
    <h3>Lista de times da série A</h3>
    <div style="width: fit-content;">
    <a href="saopaulo"><li>São Paulo</li></a>
    <a href="internacional"><li>Internacional</li></a>
    <a href="atleticomg"><li>Atlético-MG</li></a>
    <a href="flamengo"><li>Flamengo</li></a>
    <a href="fluminense"><li>Fluminense</li></a>
    <a href="palmeiras"><li>Palmeiras</li></a>
    <a href="santos"><li>Santos</li></a>
    <a href="gremio"><li>Grêmio</li></a>
    <a href="sportrecife"><li>Sport Recife</li></a>
    <a href="corinthians"><li>Corinthians</li></a>
    <a href="fortaleza"><li>Fortaleza</li></a>
    <a href="cearasc"><li>Ceará SC</li></a>
    <a href="atleticogo"><li>Atlético-GO</li></a>
    <a href="bahia"><li>Bahia</li></a>
    <a href="coritiba"><li>Coritiba</li></a>
    <a href="bragantinosp"><li>Bragantino-SP</li></a>
    <a href="botafogo"><li>Botafogo</li></a>
    <a href="vascodagama"><li>Vasco da Gama</li></a>
    <a href="athleticopr"><li>Athlético-PR</li></a>
    <a href="goias"><li>Goiás</li></a> <br>
    <a href="index">Voltar a página inicial</a>
</div>
</body>
</html>