<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Internacional</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Internacional</h3>
    <p>O Sport Club Internacional (mais conhecido como Internacional ou Inter de Porto Alegre e popularmente pelo apelido de Colorado) é um clube multiesportivo 
        brasileiro com sede na cidade de Porto Alegre, capital do Rio Grande do Sul. Foi fundado em 4 de abril de 1909, pelos irmãos Poppe, com o objetivo de ser 
        uma instituição democrática e sem preconceitos. Tem como suas cores o vermelho e o branco e seus torcedores são conhecidos como colorados. Seu rival histórico 
        é o Grêmio Foot-Ball Porto Alegrense, com quem disputa o Grenal, um dos maiores clássicos do mundo. No futebol, é um dos clubes mais bem-sucedidos do Brasil 
        e das Américas, sendo o terceiro maior campeão internacional do país, com 7 conquistas oficiais, superado somente pelo Santos e São Paulo. Dentre suas maiores 
        glórias no futebol, destacam-se as conquistas do Mundial de Clubes da FIFA e os dois títulos da Copa Libertadores da América em 2006 e 2010, além de uma Copa
         Sul-Americana (invicta), dois títulos da Recopa Sul-Americana e uma Copa Suruga Bank. A nível nacional, o Colorado é considerado tricampeão, tendo vencido três
          títulos do Campeonato Brasileiro, sendo o terceiro de forma invicta, além de uma Copa do Brasil, um Torneio Heleno Nunes e 45 títulos do Campeonato Gaúcho (atual recordista).<br>

        Na década de 1970, o Colorado fez história no âmbito nacional com dois feitos inéditos: venceu todos os campeonatos estaduais entre 1969 e 1976, 
        tornando-se o único octacampeão gaúcho. Venceu o Campeonato Brasileiro de 1979 de forma invicta (façanha jamais repetida por outro clube brasileiro). 
        Além disso, três anos antes, deteve a hegemonia no cenário nacional, sagrando-se bicampeão brasileiro em 1975 e 1976. É o único clube tricampeão brasileiro 
        fora da região Sudeste do País. Com o técnico Rubens Minelli comandando a maioria dos títulos, o Internacional montou um time nos anos 1970 que tinha craques 
        como Falcão, Figueroa, Carpegiani e destaques como Valdomiro, Claudiomiro, Manga, Batista e Caçapava.[24] O Internacional também é o primeiro clube da 
        região Sul do Brasil a decidir um título de Copa Libertadores, sendo vice-campeão em 1980.<br>
        
        O Colorado manteve-se durante 24 anos seguidos (1975-1998) líder no Ranking de Pontos do Campeonato Brasileiro, disputando 7 semifinais, 3 fases finais e 
        5 finais (1975, 1976, 1979, 1987 e 1988). Desde 2003, quando o Brasileirão passou a ser disputado por pontos corridos, o clube gaúcho foi vice-campeão em 2005, 2006 e 2009. 
        Historicamente, também foi vice-campeão brasileiro consecutivo em 1967 e 1968 do Torneio Roberto Gomes Pedrosa. Em 2010, o Internacional foi eleito o clube mais vitorioso do 
        país na década de 2000, em levantamento realizado pela Folha de S.Paulo. Além das glórias no futebol, o clube também destaca-se em outras modalidades esportivas coletivas e 
        individuais, como atletismo, basquete, boxe, taekwondo, voleibol e futebol de salão. Neste último, é um dos clubes mais tradicionais do país, tendo o futsal masculino 
        conquistado a Liga Futsal de 1996, a Copa Libertadores de Futsal de 2000, a Copa Intercontinental de Futsal de 1996 e oito títulos estaduais.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>