<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Palmeiras</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>
<body>
    <h3>Palmeiras</h3>
    <p>A Sociedade Esportiva Palmeiras é um clube poliesportivo brasileiro da cidade de São Paulo, capital do estado homônimo. Foi fundado em 26 de agosto de 1914 e suas cores, 
        presentes no escudo e bandeira oficial, são o verde e branco. O vermelho, presente desde sua fundação em 1914, foi excluído durante a Segunda Guerra Mundial, por 
        pressão do governo nacional, na mesma reunião que formalizou a mudança de nome de Palestra Itália para Palmeiras.<br>

        Tem como modalidade esportiva principal o futebol, com um dos times mais vencedores e que está entre as equipes com maior torcida do país. Seus títulos 
        mais importantes conquistados no futebol são a Copa Libertadores da América de 1999 e a Copa Rio de 1951, considerado na época como um Mundial de Clubes 
        de futebol e reconhecido como tal pela FIFA, por meio do presidente da entidade, Joseph Blatter, em agosto de 2014, sendo uma decisão do Comitê Executivo da 
        FIFA de 7 de junho e por meio de documento encaminhado ao Ministério do Esporte do Brasil em novembro do mesmo ano. A entidade, no entanto, não reconhece a 
        competição como um torneio FIFA e reforçou este posicionamento em outubro de 2017, quando reconheceu os vencedores da Copa Intercontinental como campeões mundiais, 
        sem, também, promover a unificação da Copa Intercontinental com a sua atual competição.<br>
        
        O Palmeiras é a equipe brasileira com o maior número de títulos de abrangência nacional conquistados, sendo o único a vencer todas as competições oficiais que disputou 
        criadas no País, inicialmente pela Confederação Brasileira de Desportos (CBD) e, a partir de 1980, pela Confederação Brasileira de Futebol (CBF). O alviverde possui 14 
        conquistas deste porte, com destaque maior para seus dez títulos do Campeonato Brasileiro (atual recordista): 1960, 1967, 1967, 1969, 1972, 1973, 1993, 1994, 2016 e 2018. 
        Além destes campeonatos, o Palmeiras já venceu no país as Copas do Brasil de 1998, 2012 e de 2015 e a Copa dos Campeões de 2000, competições também organizadas pela entidade 
        máxima do futebol brasileiro.<br>
        
        No Estado de São Paulo, o Palmeiras também é um dos principais vencedores, com 23 conquistas do Campeonato Paulista de Futebol e mais dois títulos extra da mesma competição. 
        Em 1996, o alviverde conquistou o estadual daquele ano com a melhor campanha de uma equipe na era profissional neste campeonato. Na ocasião, foi campeão com 83 pontos ganhos 
        em 90 possíveis, com um índice de aproveitamento de 92,2% dos pontos disputados e 102 gols marcados em 30 jogos realizados. Desde então, esta marca jamais foi alcançada por 
        qualquer outra equipe na competição.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>