<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>São Paulo</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h3>São Paulo</h3>
    <p>São Paulo Futebol Clube (conhecido apenas por São Paulo e cujo acrônimo é SPFC) é uma associação esportiva brasileira da cidade de São Paulo, 
        capital do estado homônimo. Foi fundado em 25 de janeiro de 1930, tendo interrompido suas atividades em maio de 1935, e as retomado em dezembro do mesmo ano. 
        No futebol, é um dos clubes mais bem sucedidos do Brasil, sendo que, dentre seus principais títulos, destacam-se os seis campeonatos brasileiros, as três copas Libertadores 
        (recorde nacional compartilhado com Santos e Grêmio), os três Mundiais (recorde absoluto a nível nacional), os vinte e um campeonatos paulistas conquistados, e a Copa Sul-Americana 
        de 2012 (recorde nacional compartilhado com Internacional, Chapecoense e Atlético Paranaense). Quanto a títulos internacionais, o São Paulo, com 12 conquistas, é o terceiro clube 
        da América do Sul com o maior número de troféus, ficando atrás somente de Boca Juniors e Independiente. No que diz respeito ao somatório de títulos oficiais de abrangência nacional 
        e internacional de clubes brasileiros de futebol, em setembro de 2019 o São Paulo FC figurava como o maior campeão do Brasil, com 18 conquistas. A agremiação também possui tradição 
        em outros esportes que não o futebol, como no atletismo, onde seu atleta Adhemar Ferreira da Silva foi o primeiro bicampeão olímpico do país e quebrou recordes mundiais, os quais 
        são responsáveis pelas duas estrelas douradas no escudo do clube.<br>

        Nos rankings de âmbito nacional, o São Paulo figura em outra posição que não o primeiro lugar somente no Ranking da CBF, que mede apenas a performance nos últimos cinco anos, 
        onde aparece em sétimo. Já pelas classificações da revista Placar, Folha de S.Paulo e RSSSF, o clube sempre aparece na liderança. Entre as demais agremiações do mundo o Tricolor 
        do Morumbi, um dos apelidos pelo qual é conhecido, ocupa a oitava colocação de acordo com a Folha de S. Paulo. Pelo ranking da CONMEBOL, que leva em conta apenas os resultados 
        obtidos nas últimas cinco edições das competições organizadas pela entidade, o clube é o quarto entre os brasileiros e o sétimo em toda a América Latina. Já para a IFFHS, órgão 
        de estatística reconhecido pela FIFA e que produz mensalmente um ranking de clubes, o Tricolor Paulista é o 10º melhor clube atualmente e o 18º melhor de todos os tempos, sendo 
        o primeiro entre os clubes brasileiros. A mesma IFFHS elegeu o São Paulo como o melhor time brasileiro da última década (2001-2011) e o segundo na América do Sul, atrás apenas do 
        Boca Juniors da Argentina.<br>
        
        De acordo com estudos da Brand Finance, o São Paulo é o clube brasileiro com maior valor de mercado atualmente, com U$ 95 milhões (cerca de R$ 300 milhões), 
        sendo o 43º entre os 50 primeiros colocados mundialmente. Já a empresa BDO Brasil aponta que a marca do clube é a terceira de maior valor no Brasil ultrapassando os 
        R$ 878 milhões, ficando atrás do Corinthians (com R$ 1,241 bilhão) e distante do Flamengo (com R$ 1,243 bilhão).<br>
        
        Em 18 de outubro de 2006 foi sancionada na cidade de São Paulo a lei nº 14 229 de 11 de outubro do mesmo ano, cujo projeto de lei era de nº 648 de 2005, na qual fica definido que 
        no dia 16 de dezembro de cada ano será comemorado o "Dia Tricolor", homenageando, dessa maneira, a data de refundação do clube.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>