<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sport Recife</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h3>Sport do Recife</h3>
    <p>O Sport Club do Recife (conhecido como Sport e Sport Recife, de monogramo SCR) é um clube brasileiro de desportos, situado no bairro da Ilha do Retiro, 
        cidade do Recife, estado de Pernambuco. Foi fundado em 13 de maio de 1905, por Guilherme de Aquino Fonseca, um pernambucano que viveu por muitos anos na 
        Inglaterra, onde estudou na Universidade de Cambridge e regressou a Pernambuco trazendo consigo o apreço pelo novo esporte daquele país: o futebol.<br>

        É conhecido pelo seu símbolo maior: o leão; suas cores oficiais são o preto e o encarnado e, desde o ano de 1937, manda seus jogos na Ilha do Retiro 
        onde é apoiado pela massa sportista. O Leão da Ilha é um dos clubes mais populares do Brasil, tendo rivalidades históricas com o América Futebol Clube, 
        com quem duela no Clássico dos Campeões, o primeiro clássico pernambucano em notoriedade; com o Clube Náutico Capibaribe, no confronto conhecido como o 
        Clássico dos Clássicos, sendo este o terceiro clássico mais antigo do país e o mais antigo da Região Nordeste; e com o Santa Cruz Futebol Clube, cujo 
        confronto é denominado de Clássico das Multidões, pois é o que leva habitualmente mais torcedores aos estádios pernambucanos.<br>
        
        No ano de 2010, o Sport Recife foi honrado pela FIFA, com a distinção de ser um Clube Clássico brasileiro, sul-americano e mundial, fazendo parte do hall de clubes 
        daquela federação internacional. Tem como principais títulos: 1 Campeonato Brasileiro, 1 Copa do Brasil, 1 Troféu Roberto Gomes Pedrosa, 1 Campeonato Brasileiro da 
        Série B, 1 Torneio Norte-Nordeste, 3 Copas do Nordeste e 42 títulos pernambucanos. Entre esses, no Século XXI, foram conquistados 9 estaduais, 1 Copa do Nordeste e 1 
        Copa do Brasil, entre os títulos de maior expressão.<br>
        
        O Sport é detentor de oito títulos com chancela da CBD/CBF, referente aos anos de 1968, 1987, 1990, 1994, 2000, 2008 e 2014; sendo 4 nacionais, 1 inter-regional e 3 regionais. 
        Detém conquistas pioneiras no futebol do norte-nordeste, a exemplo de ser o primeiro campeão do Nordeste, do Norte–Nordeste e da Copa do Brasil.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>