<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vasco da Gama</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h3>Vasco da Gama</h3>
    <p>Club de Regatas Vasco da Gama ComC • MHM é uma entidade sócio-poliesportiva brasileira com sede na cidade do Rio de Janeiro, fundada em 21 de agosto de 1898 
        por um grupo de remadores. Inspirados nas celebrações do quarto centenário da descoberta do caminho marítimo para as Índias, ocorrida em 1498, batizaram a 
        nova agremiação com o nome do herói português que alcançou tal feito, o navegador Vasco da Gama.<br>

        Apesar de ter sido fundado como um "clube de regatas", consagrando-se no remo como um dos maiores campeões do país, o Vasco da Gama ainda abrange outras 
        modalidades como atletismo, vôlei de praia, basquete, futebol de areia, dentre outros, tendo como esporte mais tradicional o futebol. As cores do Vasco guardam forte significação: 
        o preto remete aos mares desconhecidos do Oriente, desbravados por Vasco da Gama, enquanto o branco da faixa diagonal refere-se à rota descoberta pelo almirante. Além disso, 
        estas são cores que se encaixam na ideia de uma comunhão de etnias (já que foi o primeiro clube do Brasil a lutar contra preconceitos raciais e sociais), tendo sido o primeiro 
        na história dos clubes esportivos do Brasil a ter elegido um presidente "não branco" (em 1904, numa época em que o racismo contra negros era prática comum no esporte, 
        os vascaínos tiveram a honra de conduzir o mulato Cândido José de Araújo ao degrau mais alto do clube). A Cruz, principal símbolo, tem forte aspecto religioso, porque 
        a Ordem Militar de Cristo era ao mesmo tempo religiosa e guerreira.<br>
        
        É o único clube carioca bicampeão em torneios intercontinentais de futebol de grande importância histórica (1953 e 1957). Em 1953, o Vasco venceu o Torneio 
        Octogonal Rivadávia Corrêa Meyer, competição oficial da CBD, organizada com o apoio do dirigente da FIFA, Ottorino Barassi, competição sucessora da Copa Rio Internacional, 
        tratada na Europa como uma edição da Copa Rio e almejada pelos 4 grandes clubes cariocas. No Torneio de Paris de 1957, o Vasco entrou para a História como o primeiro 
        e único clube não europeu a derrotar um campeão da Copa dos Campeões da UEFA desde o primeiro título desta competição europeia (vencido pelo Real Madrid em 13 de junho de 1956) 
        até a 1ª disputa da Copa Intercontinental (em 3 de julho de 1960), com a final do Torneio de Paris de 1957 sendo considerada pela imprensa francesa como a final entre o 
        campeão europeu e a equipe considerada a melhor da América do Sul, em uma apresentação que encantou o público e a imprensa francesa, prestigiando o Vasco e o futebol 
        brasileiro frente ao público europeu e mundial.<br>
        
        É, juntamente com o Flamengo, os únicos clubes cariocas bicampeões sul-americanos, tendo o Vasco vencendo a única competição reconhecida pela CONMEBOL como 
        precursora da Copa Libertadores da América, o Campeonato Sul-Americano de Campeões de 1948, em status equivalente ao da Libertadores, tendo o Vasco participado 
        em 1997 da Supercopa dos Campeões da Libertadores (competição reservada aos campeões da Libertadores) em função do título de 1948; e a Copa Libertadores da América 
        de 1998 (conquistada no ano do centenário). Em títulos sul-americanos, o Vasco venceria ainda a Copa Mercosul em 2000.<br>
        
        Em títulos nacionais, o Vasco conquistou quatro Campeonatos Brasileiros em 1974, 1989, 1997 e 2000, uma Copa do Brasil em 2011, diversos títulos estaduais oficiais 
        (diversos campeonatos Carioca, da Copa Rio, e torneios Municipal, Extra, Início e Relâmpago) e 5 títulos interestaduais oficiais 
        (3 Torneio Rio-São Paulo, 1 Taça dos Campeões Estaduais Rio-São Paulo e 1 Torneio João Havelange). Conquistou ainda diversos torneios nacionais e internacionais.<br>
        
        O Vasco da Gama ainda tem, dentre o seu plantel de ídolos, os maiores artilheiros do Campeonato Brasileiro de todos os tempos, 
        tendo como Roberto Dinamite, o maior, com a marca de 190 gols, seguido por Romário e Edmundo, com 154 e 153 gols respectivamente. 
        O primeiro grande ídolo do clube foi o atacante Ademir de Menezes, que liderou o memorável "Expresso da Vitória", tornando-se o maior 
        artilheiro do Vasco com 301 gols marcados, número só superado por Dinamite e Romário décadas mais tarde.</p>
        <a href="info">Clique aqui para retornar a página de informações</a>
</body>
</html>