h3{
    color: blue;
}

.a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.abc{
    width: fit-content;
}

body{
    background: rgba(217, 219, 219, 0.884);
}

h1{
    color: blue;
}